.container {
  height: 100vh;


  .side-drawer {
    width: 300px;
    background-color: #340040;
    color: gray;
    .server-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      border-top: 1px solid white;
      height: 60px;
      border-bottom: 1px solid white;
      font-size: 30px;
      font-weight: 800;
      color: white;
    }
  }
  .top-menu {
    height: 50px;
    background-color: #340040;
    position: sticky;
    top: 0;
    z-index: 3;
  }
}

.router-outlet-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#side-nav-content {
  margin-top: 8px;
  position: relative;
  li {
    margin-bottom: 2px;
    margin-top: 2px;
    
  }
}

#log-out-button {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.channels-container {
  padding-left: 20px;
}

.sidenav-mini-title{
  padding-left:12px;
}

.basic-hover{
  &:hover{
  background-color:rgba(0,0,0,0.15);
  }
  cursor:pointer;
}