<mat-drawer-container class="container"  autosize>

  <mat-drawer class="side-drawer" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? 'false' : 'true'">

    <div class="server-title">Slackclone</div>

    <div *ngIf="auth.userKey" id="side-nav-content">
      <details>
      <summary>
      <b class="sidenav-mini-title">Channels</b>
      <span class="icon"><img src="assets/img/arrow-204-16.ico" alt=""></span>
    </summary>
      <div>
        <ul>
          <li class="channels-container basic-hover align-sidenav-content"
            [routerLink]="['home', auth.userKey, channel.channelid]"
            *ngFor="let channel of allChannels"
          >
            # {{ channel.name }} 
            <button mat-icon-button 
              [matMenuTriggerFor]="taskMenu"
              class="delete">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #taskMenu="matMenu">
              <button mat-menu-item (click)="editChannel(channel)">Edit</button>
              <button mat-menu-item (click)="deleteChannel(channel)">Delete</button>
            </mat-menu>
          </li>
          <li (click)="openDialog()" class="sidenav-mini-title basic-hover">+ Add Channel</li>
        </ul>
      </div>
    </details>

      <details>
      <summary>
        <b class="sidenav-mini-title">Direct Messages</b>
        <span class="icon"><img src="assets/img/arrow-204-16.ico" alt=""></span>
      </summary>
      <div>
        <ul>
          <li class="channels-container basic-hover align-sidenav-content"
            *ngFor="let message of allDirectMessages"
            [routerLink]="['home', auth.userKey, message.directMessageId]"
          >
            {{ message.name }}
            <button mat-icon-button 
              [matMenuTriggerFor]="taskMenuDirectMessage"
              class="delete">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #taskMenuDirectMessage="matMenu">
              <button mat-menu-item (click)="editChat(message)">Edit</button>
              <button mat-menu-item (click)="deleteChat(message)">Delete</button>
            </mat-menu>
          </li>

          <li (click)="openDialogDirectMessage()" class="sidenav-mini-title basic-hover">+ Add Direct Message</li>
       
        </ul>
      </div>
    </details>
    </div>


    <button id="log-out-button" mat-button color="warn" [routerLink]="''">
      Account Settings <img src="assets/img/settings-16.ico" alt="">
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <div class="top-menu"></div>
    <!--main content-->
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>

<button mat-icon-button class="toggle-btn" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
