<div class="home-container">
  <div class="div-message-thread">
    <div class="messages">
      <div class="channel-header">
      <h2>{{ activeChannel.name }}</h2>
      <div *ngIf="activeChannel.users" style="border-bottom: solid 1px rgba(0, 0, 0, 0.1);">
        <span *ngFor="let user of activeChannel.users">
          {{getUserById(user).displayName}}
        </span>
      </div>
      <div *ngIf="activeChannel.description">
        {{activeChannel.description}}
      </div>
      </div>
      <div class="messages-container" #messagesChannel>
        <div
          *ngFor="let message of messages; index as i"
          (click)="openThread(message)"
          class="flex message-box"
        >
          <img class="profile-picture" src="assets/img/Download.png" alt="" />
          <div>
            <div class="first-row">
              <button
                mat-icon-button
                [matMenuTriggerFor]="taskMenu"
                class="delete"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #taskMenu="matMenu">
                <button mat-menu-item (click)="openDialog(message, 'message')">
                  Edit
                </button>
                <button
                  mat-menu-item
                  (click)="deleteMessage(message, 'message'); closeThread()"
                >
                  Delete
                </button>
              </mat-menu>
              <div class="name">
                {{ getUserById(message.author).displayName }}
              </div>
              <div class="time">{{ message.time | date: "medium" }}</div>
            </div>
            <div [innerHTML]="message.content"></div>
            <div *ngFor="let imgURL of message.imageLinks">
              <a [href]="imgURL" target="_blank"
                ><img [src]="imgURL" width="100" height="100"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="editor-div">
        <editor
          apiKey="z8iu1rie4176in15qglvib02tl493lahzojojurs7xl4iody"
          [init]="{
            toolbar:
              'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
            height: 150,
            branding: false,
            menubar: false,
            statusbar: false,
            browser_spellcheck: true
          }"
          [(ngModel)]="htmlMessage"
        >
        </editor>
        <button id="sendMessage"
        mat-button (click)="sendMessage(); htmlMessage = ''; inputMessage.value = ''"
        [disabled]="disableSendMessage">
          Send
        </button>
        <div class="input-file-div-div">
          <div class="input-file-div">
            <button
              id="inputMessage"
              mat-icon-button
              (click)="inputMessage.click()"
            >
              <mat-icon>add</mat-icon>
            </button>
            <span>{{inputMessage.value}}</span>
          </div>
          <input
            hidden
            type="file"
            #inputMessage
            (change)="upload($event)"
            accept=".png,.jpg"
          />
        </div>
      </div>
    </div>

    <div *ngIf="showThread" class="thread">
      <div class="thread-header">
        <h2>Thread</h2>
        <button mat-icon-button (click)="closeThread()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="threads-container" #messagesThreads>
        <div class="flex">
          <img class="profile-picture" src="assets/img/Download.png" alt="" />
          <div>
            <div class="first-row">
              <div class="name">
                {{ getUserById(currentMessage.author).displayName }}
              </div>
              <div class="time">{{ currentMessage.time | date: "medium" }}</div>
            </div>
            <div [innerHTML]="currentMessage.content"></div>
            <div *ngFor="let imgURL of currentMessage.imageLinks">
              <a [href]="imgURL" target="_blank"
                ><img [src]="imgURL" width="100" height="100"
              /></a>
            </div>
          </div>
        </div>
        <div *ngFor="let thread of activeThread" class="flex">
          <img class="profile-picture" src="assets/img/Download.png" alt="" />
          <div>
            <div class="first-row">
              <button
                mat-icon-button
                [matMenuTriggerFor]="taskMenu"
                class="delete"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #taskMenu="matMenu">
                <button mat-menu-item (click)="openDialog(thread, 'thread')">
                  Edit
                </button>
                <button mat-menu-item (click)="deleteMessage(thread, 'thread')">
                  Delete
                </button>
              </mat-menu>
              <div class="name">
                {{ getUserById(thread.author).displayName }}
              </div>
              <div class="time">{{ thread.time | date: "medium" }}</div>
            </div>
            <div [innerHTML]="thread.content"></div>
            <div *ngFor="let imgURL of thread.imageLinks">
              <a [href]="imgURL" target="_blank"
                ><img [src]="imgURL" width="100" height="100"
              /></a>
            </div>
          </div>
        </div>

        <div class="editor-div-thread">
          <editor
            [init]="{
              toolbar:
                'undo redo | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
              height: 150,
              branding: false,
              menubar: false,
              statusbar: false,
              browser_spellcheck: true
            }"
            [(ngModel)]="htmlThread"
          >
          </editor>
          <button id="sendThread" 
          mat-button 
          (click)="sendThreadMessage(); htmlThread = ''; inputThread.value = ''"
          [disabled]="disableSendThread">
            Send
          </button>
          <div class="input-file-div-div">
            <div class="input-file-div">
              <button
                id="inputThread"
                mat-icon-button
                (click)="inputThread.click()"
              >
                <mat-icon>add</mat-icon>
              </button>
              <span>{{inputThread.value}}</span>
            </div>
            <input
              hidden
              type="file"
              #inputThread
              (change)="uploadThread($event)"
              accept=".png,.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
