.flex {
  display: flex;
}

.home-container {
  display: flex;
  height: 100%;
}

.messages {
  width: 70%;
}

.example-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-full-width {
  width: 90%;
}

.mat-button {
  width: 10% !important;
  min-height: 100% !important;
}

.profile-picture {
  width: 30px;
  height: 30px;
  margin: 5px 10px 0px 10px;
}

.name {
  font-weight: 700;
  margin-right: 5px;
}

.time {
  font-size: 10px;
  color: grey;
}

.first-row {
  display: flex;
}

.thread {
  width: 30%;
}

.center-div {
  width: 100%;
  display: flex;
  position: sticky;
  bottom: 0;
}

.editor-div {
  position: sticky;
  bottom: 0;

  editor {
    width: 100%;
    height: 100%;
  }
  button {
    position: absolute;
    min-height: unset !important;
    bottom: 0px;
    right: 0;
  }
  input {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
  }
}

.tox-edit-area {
  height: 200px !important;
}

.tox-tinymce {
  border-radius: 0px !important;
}

.messages-container {
  min-height: 100%;
}

.threads-container {
  min-height: 100%;
  border-left: solid 1px rgba($color: #000000, $alpha: 0.1);
}
